*{ margin: 0; padding: 0;}
body{font-family: 'Open Sans', sans-serif; font-size: 16px; letter-spacing: 0.05em;}
header .logo{ width: 100%; margin: auto; background: #2e2e2e; text-align: center; padding: 25px 0;}
header .logo img{ max-width: 150px;}
.yellow{ width: 100%; margin: auto; background: #ffc00f; text-align: center; padding: 25px 0;}
.yellow .desc{ max-width: 400px; margin: auto;}
h1 {
  font-size: 30px;
	font-weight: 800;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
}

h3 {
  font-size: 17px;
  font-weight: 400;
  color: rgb(27, 27, 27);
  line-height: 1.754;
  text-align: center;
}

h2 {
  font-size: 1.17em;
  color: rgb(27, 27, 27);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.462;
  text-align: center;
}

h4 {
  font-size: .88em;
  font-weight: 400;
  color: rgb(27, 27, 27);
  line-height: 1.949;
  text-align: center;
}

.container{ width: 100%; max-width: 768px; margin: auto; padding: 25px; box-sizing: border-box;}
.container p{
  font-size: 15px;
  color: rgb(27, 27, 27);
  line-height: 1.55;
  text-align: justify;
  margin-bottom: 15px;
}

h1.title{color: rgb(27, 27, 27);text-transform: inherit;text-align: center}
.text-inherit{text-transform: inherit}
.text-center{text-align: center !important;}
.text-left{text-align: left !important}
.mb-20{margin-bottom: 20px}
.font-w-bold{font-weight: 900}

